<h1>Admin Panel</h1>

<div class="row">
	<div class="col-md-6">
	<h2>Personal Info</h2>
	<% if !@personal_info %>
	<%= link_to 'Add personal info', new_personal_info_path %>
	<% else %>
	<%= render 'personal_infos/form' %>
	<% end %>
	</div>

	<div class="col-md-6">
	<h2>Jobs</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Position</th>
      <th>Company</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.position %></td>
        <td><%= job.company %></td>
        <td><%= job.startdate %></td>
        <td><%= job.enddate %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New job', new_job_path, class:'btn btn-success' %>
	
	</div>
</div>